<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Type</th>
            <th>Sort Code</th>
            <th>Currency</th>
            <th>Balance</th>
            <th>Bank Detail</th>
            
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="account in accounts">
            <td>{{account.label | uppercase}}</td>
            <td>{{account.number}}</td>
            <td>{{account.type}}</td>
            <td>{{account.brachSortCode}}</td>
            <td>{{account.balance.currency}}</td>
            <td>{{account.balance.amount}}</td>
            <!--
                        <td>{{row.birthDate | date}}</td>
                        <td>{{row.balance | currency}}</td>
-->
            <td>
                <a ui-sref='customerDetail({customerId : customer.BVN})'> <i class="glyphicon glyphicon-eye-open"></i>view</a>
                <!--<a  ng-click="manageCustomerAccount(customer)"> <i class="glyphicon glyphicon-eye-open"></i>account</a>-->
            </td>
            <td>
                <button type="button" ng-click="editPerson(customer)" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-edit"></i>

                </button>
            </td>
            <td>
                <button type="button" ng-click="remove(customer)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>